extends layout

block content
   div.container
      div.row
         - if (!forecast)
            - var error = response.error ? response.error.description : 'No cities match your search query';
            h2 #{error}
         - else
            - var animations = animationsArray.split(',');
            - var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
            - var today = new Date();
            - var weekday = days[ today.getDay() ];
            - var count = 0;

            h1(class='animated #{animations[count]}')=city + ' - ' + country            
            - count++;

            mixin item(day)
               div(class='col-lg-3 col-sm-4 col-xs-6 animated #{animations[count]}')
                     p
                        img(class='thumbnail img-responsive weatherIcon', src=day.icon_url)
                        =day.conditions
                     div(class='animated #{animations[count]}')
                        - count++
                        h3=weekday == day.date.weekday ? 'Now' : day.date.weekday
                        h4
                           =day.high.celsius + ' C - '
                           =day.low.celsius + ' C'
            
            div(class='row containerDiv')
               each day in forecast.simpleforecast.forecastday
                  +item(day)