extends layout

block content
   div.container
      div.row
         - if (!forecast)
            - var error = response && response.error && response.error.description ? response.error.description : 'No cities match your search query';
            - error += '. Try adding something like /IT/Milan after the hostname.'

            |<script>
            | mainScript.showError();
            |</script>
            
            h2#h2Error.hideBlock=error
         - else
            - var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
            - var today = new Date();
            - var weekday = days[ today.getDay() ];
            - var animations = animationsArray.split(',');
            - var animationInex = 0;
            - var itemIndex = 0;

            h1(class='animated #{animations[animationInex]}')=city + ' - ' + country
            - animationInex++;

            mixin item(day)
               div(class='col-md-3 col-sm-6 col-xs-12 form-group animated #{animations[animationInex]}')
                  div(class='panel panel-default')
                        div(class="panel-heading clickable", data-toggle="collapse", href="#collapse#{itemIndex}")
                           div.row
                              div.col-md-4.col-sm-3.col-xs-4
                                 img(class='img-responsive weatherIcon', src=day.icon_url)
                              div.col-md-8.col-sm-9.col-xs-8
                                 h3=weekday == day.date.weekday ? 'Now' : day.date.weekday
                                 h4=day.high.celsius
                                    =' to '
                                    =day.low.celsius + ' C'

                        div(id='collapse#{itemIndex}', class='panel-collapse collapse animated flipInX')
                           - animationInex++
                           div.panel-body
                              h3=day.conditions
                              p
                                 =forecast.txt_forecast.forecastday[itemIndex + itemIndex].fcttext_metric
            
            div(class='row containerDiv', id='accordion')
               each day in forecast.simpleforecast.forecastday
                  +item(day)
                  - itemIndex++;
